# Configuración de Base de Datos
MONGODB_URI=mongodb://localhost:27017/frutos-secos

# Configuración JWT
JWT_SECRET=tu-clave-secreta-super-segura-aqui-cambiar-en-produccion

# Configuración del Servidor
PORT=3000

# Configuración de Desarrollo
NODE_ENV=development
